body{
    background-image: url(web/wal6\ listo.png);
    background-size: cover;
}
.image{
    width: 7%;
}

.home{
    font-family:'Trebuchet MS';
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.watchlater{
    font-family:'Trebuchet MS';
    color: white;
    font-size: 180%;
    margin-left: 9%;
    margin-top: 2%;
}

.watch{
    width: 400px;
    height: 550px;
    margin-top: -90px;
    border-radius: 10px;
}

.watch2{
    width: 275px;
    height: 350px;
    border-radius: 10px;
    margin-left: 14.4%;
}

#atra{
    width: 40px;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 10px;
    color: palevioletred;
    border-color: palevioletred;
}
#ade{
    width: 40px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 450px;
    color: palevioletred;
    border-color: palevioletred;
}